#__layout div.top-container div.base-container div.base-left-side-container{
	order: 1;
}
#__layout div.top-container div.base-container div.base-main div.space.relative div.room{
	order: -1;
}
#__layout div.top-container div.base-container div.base-main div.space.relative div.room div.slide-right-panel,
#__layout div.top-container div.base-container div div.chat-wrap{
	order: -1;
	border-Left: 0;
	border-Right: 1px solid var(--color-base-border);
}

/*#__layout div div div.base-left-side-wrapper div.base-left-side{
	border-Left: 1px solid var(--color-base-border);
	border-Right: 0;
}*/

